# 去掉headers
WechatApp/WeChat_Headers/

# 去掉headers的xcode的project
WechatApp/WechatApp_Headers/

# project
LatestBuild
WechatApp/TargetApp/
WechatApp/tmp/
WechatAppDylib/WechatAppDylib.mm

# Mac
.DS_Store

# .gitignore~
.gitignore~

# Pods
Pods/
Podfile.lock